{
  "bracketSameLine": false,
  "bracketSpacing": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^(bun|node):.*$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
