# Dependencies
node_modules

# Build outputs
dist
build
*.tsbuildinfo

# Obsidian
.obsidian

# Logs
*.log

# Lock files
bun.lockb
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment files
.env
.env.local
.env.*.local
